$primary-color: #fa5b3d;
$dark-color: #191919;
$secound-dark: #181f44;

// start who_we_are
.who_we_are,
.how_we_work {
  padding: 40px 0;
  color: $secound-dark;

  .line {
    display: flex;
    gap: 40px;

    .left,
    .right {
      width: 50%;
    }

    .left {
      .subtitle {
        font-size: 19px;
        color: $primary-color;
        position: relative;
        width: fit-content;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: -60px;
          height: 3px;
          width: 50px;
          background-color: #fa5b3d;
        }
      }

      .title {
        margin-top: 3px;
        font-weight: 45px;
        font-weight: 700;

        span {
          color: $primary-color;
        }
      }

      .desc {
        color: gray;
        margin-bottom: 10px;
      }

      .features {
        .feature {
          &:not(:last-child) {
            margin-bottom: 15px;
          }

          i {
            color: $primary-color;
          }

          span {
            font-size: 17px;
            font-weight: 500;
          }
        }
      }
    }

    .right {
      .image {
        img {
          width: 100%;
          border-radius: 10px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .who_we_are,
  .how_we_work {
    padding: 20px 0;

    .line {
      flex-direction: column;
      gap: 20px;
      text-align: center;

      .left,
      .right {
        width: 100%;
      }

      .left {
        .subtitle {
          margin: auto;
          font-size: 14px;
        }

        .title {
          font-size: 19px;
          margin-bottom: 3px;
        }

        .desc {
          font-size: 13px;
        }

        .features {
          .feature {
            &:not(:last-child) {
              margin-bottom: 8px;
            }

            i {
              font-size: 14px;
            }

            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
// end who_we_are

// start about_info_section
.about_info_section {
  padding: 40px 0;
  color: white;

  .boxs {
    background-color: $secound-dark;
    padding: 60px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    border-radius: 15px;

    .box {
      text-align: center;

      svg {
        width: 65px;
      }

      h4 {
        font-size: 30px;
        margin-top: 10px;
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 768px) {
  .about_info_section {
    padding: 20px 0;

    .boxs {
      padding: 30px;
      justify-content: center;
      gap: 15px;

      .box {
        svg {
          width: 45px;
        }

        h4 {
          font-size: 18px;
        }

        span {
          font-size: 13px;
        }
      }
    }
  }
}
// end about_info_section

// start why_choose_us
.why_choose_us {
  padding: 60px 0;
  background-color: #f1f6ff;

  .subtitle {
    font-size: 22px;
    font-weight: 600;
    color: $primary-color;
    position: relative;
    padding: 0 10px;
    text-align: center;
    display: block;
    width: fit-content;
    margin: auto;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -10px;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $primary-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $primary-color;
    }
  }

  .title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
  }

  .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 60px;

    .box {
      padding: 45px 25px 25px;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        left: -10%;
        top: -150%;
        width: 324px;
        height: 256px;
        background: $primary-color;
        border-radius: 0px 0px 255px 0px;
        transition: 0.3s linear;
      }

      &:hover {
        &::before {
          top: -50%;
        }

        .icon {
          background-color: white;

          svg {
            color: $primary-color;
          }
        }
      }

      .icon {
        background-color: $primary-color;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        transition: all 0.3s;
        position: relative;

        svg {
          color: white;
          width: 35px;
          transition: all 0.3s;
        }
      }

      h4 {
        font-size: 20px;
        margin-bottom: 6px;
        position: relative;
      }

      p {
        margin-bottom: 0;
        color: gray;
        font-size: 17px;
        position: relative;
      }
    }
  }
}

@media (max-width: 768px) {
  .why_choose_us {
    padding: 30px 0;

    .subtitle {
      font-size: 17px;

      &::after,
      &::before {
        width: 6px;
        height: 6px;
      }
    }

    .title {
      font-size: 23px;
      margin-bottom: 5px;
    }

    .boxs {
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      gap: 15px;

      .box {
        padding: 20px;

        &:hover {
          &::before {
            top: -96%;
          }
        }

        .icon {
          width: 50px;
          height: 50px;
          margin-bottom: 10px;

          svg {
            width: 30px;
          }
        }
      }
    }
  }
}
// end why_choose_us
